	<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CgCallBackResponse</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h3>Cg Call Back Response is:  <span id="myText"></span></h3>
<p th:text="${cgResponse}">Test</p>
</body>
</html>
