	<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h3>Notification Response is: </h3>
<p th:text="${vodacomRsaChargingNotificationRequestVO}">Test</p>
</body>
</html>
