<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	function loadData(url) {
		/* var msisdnvalue = $(".inputMsisdnText").val(); */
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("demo").innerHTML = this.responseText;
			}
		};
		xhttp.open("GET", url, true);
		xhttp.send();
	}
</script>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<div class="row">
	<h2 style="text-align: center">Vodacom VIU</h2>
</div>
<div class="col">
		<div id="demo">
		<button class="tD btn" onclick="window.open('/subscribepricepoint5.html')">Subscribe price point R5</button>
		<button class="tD btn" onclick="window.open('/subscribepricepoint20.html')">Subscribe price point R20</button>
		<button class="tD btn" onclick="window.open('/subscribepricepoint69.html')">Subscribe price point R69</button>
		<button class="tD btn" onclick="window.open('/subscribepricepoint29.html')">Subscribe price point R29</button>
		<button class="tD btn" onclick="window.open('/subscribepricepoint39.html')">Subscribe price point R39</button>
		<button class="tD btn" onclick="window.open('/subscribepricepoint49.html')">Subscribe price point R49</button>
		<button class="tD btn" onclick="window.open('/Deactivation.html')">DeActivation</button>
	</div>
</div>