<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	function loadData(url) {
		var msisdnValue = $(".inputMsisdnText").val();
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("demo").innerHTML = this.responseText;
			}
		};
		xhttp.open("GET", url+"?msisdn="+msisdnValue, true);
		xhttp.send();
		
	}
</script>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<div class="row">
	<h2 style="text-align: center">Subscribe price point R69</h2>
</div>

<div class="col">
	<div id="demo">	
	<h3>Enter Msisdn :</h3><input type="text" name="msisdn" class="inputMsisdnText" placeholder ="Enter your msisdn here">
		<button class="tD btn" onclick="loadData('../subscribe/pricepoint69')">Subscribe</button>
	</div>
</div>